$text-color-1: Ivory;
$text-color-2: #00fc87;
$font-family-1: 'Oswald', sans-serif;

html {
  height: 100%;
  
  body {
    background: black;
    margin: 0;

    .App {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
    }

    .fixed-background-gradient {
      min-height: 100vh;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.767) 15%,
        rgba(0, 0, 0, 0.144) 40%,
        #000 90%
      );
      margin: 0;
      background-attachment: fixed;

      .app-padding{
        padding: 30px 200px;
      }
    }
  }
}

